SECRET_KEY=somesecretkey

DB_USER=asar_postgres_user
DB_PASSWORD=f1TaCJP7FzzsH8lcvZx8WlmwAPVtlzio
DB_HOST=dpg-d9maahh5efls73cphms0-a.virginia-postgres.render.com
DB_PORT=5432
DB_NAME=asar_postgres

TELEGRAM_BOT_TOKEN=8770399342:AAEFqs8itx4Vc4sVv-x9ODyrlo6BmZEx_A0
WEB_APP_URL=http://localhost:3000
FLASK_DEBUG=False