SECRET_KEY=YOUR_SECRETKEY
DB_USER=YOUR_NAME
DB_PASSWORD=YOUR-PASSWORD
DB_HOST=asar-db
DB_PORT=5432
DB_NAME=asar_db
TELEGRAM_BOT_TOKEN=8770399342:AAEFqs8itx4Vc4sVv-x9ODyrlo6BmZEx_A0
WEB_APP_URL=http://localhost:3000
FLASK_DEBUG=False