Flask>=3.0.3
Flask-Login>=0.6.3
Flask-SQLAlchemy>=3.1.1
Flask-CORS>=4.0.0
python-dotenv>=1.0.1
SQLAlchemy>=2.0.36
Werkzeug>=3.0.3
psycopg2-binary>=2.9.11
aiogram>=3.0.0
Flask-Migrate>=4.0.7
requests==2.34.2
